<div>
    <div>
        <h1> <%= @article.title %> </h1>
        <p> <%= @article.body %> </p>
    </div>
    <div>
        <%= link_to "Edit", edit_article_path(@article) %>
    </div>
    <div>
        <%= link_to "Destroy", @article, data: {
            turbo_method: :delete,
            turbo_confirm: :"Are you sure?"
        } %>
    </div>
</div>

<div>
    <h1>Here are comments</h1>
    <%= render @article.comments %>
</div>

<div>
    <h2>Add a comment</h2>
    <%= render 'comments/form' %>
</div>
